:root {
	font-family: system-ui;
	font-feature-settings: "ss06";
	background-color: #111;
}

body {
	transition: padding 0.2s ease;
	padding-block-start: env(titlebar-area-height, 16px);
	padding-inline: 16px;
	padding-block-end: 16px;
	margin: 0;
}

h1 {
	margin-block-start: 0;
}
